# Виртуальное окружение (оно весит много и на сервере создается свое)
venv/
.venv/
env/

# Скомпилированные файлы Python (мусор)
__pycache__/
*.pyc

# Настройки PyCharm (это личное)
.idea/

# Секреты и пароли (КРИТИЧНО!)
.env

# Локальная база данных (на сервере будет PostgreSQL)
*.db
*.sqlite3

# Временные файлы операционных систем
.DS_Store
Thumbs.db